body{
	font-family:'Calibri';
	font-size:14px;
}

.text{
	position: -webkit-sticky;
  	position: sticky;
  	top: 50px;
  	background-color: brown;
	float:left;
	width: 20px;
	height:170px;	
	margin-left:50px;
	padding-left: 12px; 
	vertical-align: center;
	border-radius: 10px;
	background: linear-gradient(to bottom, brown, yellow)
}

.vertical-text {
	width:1px;
    word-wrap: break-word;
    font-family: monospace; /* this is just for good looks */
    white-space:pre-wrap; /* this is for displaying whitespaces including Moz-FF.*/
}

.container{
	width:1024px;
	margin: 0 auto 0 auto;
	/*padding: 10px 20px 30px 40px;*/
}

header{
	background: gray;
	height:250px;
	line-height: 250px;
	color:#fff;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 10px;
	background: linear-gradient(to bottom, brown, yellow)

}

.content{
	padding:25px;
	background-color: brown;
	vertical-align: top;
	border-radius:10px;
	margin-bottom: 20px;
	/*position: relative;*/
}
/*.absolute{
	position:absolute;
	top:20px;
	left:-29px;
	height:150px;
	background-color:darkred;
	line-height: 50;
	padding:20px;
	color:white;
}*/
nav{
	background:gray;
	height: 50px;
	line-height:50px;
	text-align:center;
	margin-bottom: 20px;
	border-radius:20px;
}

nav a{
	color:#fff;
	text-decoration: none;
	/*text-decoration:none;
	padding:0 10px 0 10px;*/
	padding:0 10px;	
	}

nav a:hover{
	padding-bottom: 5px;
	border-bottom:1px solid #fff;
	background: red;

}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  width: 115px;
  border-radius:0px 0px 5px 5px;
  line-height:2px;
  z-index: 1;
  /*text-align: left;  
  margin-bottom: 0px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px;
  */
}

.dropdown-content p{
	text-align: left;
	padding: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
  /*margin-left:-20px;*/
}
section,aside{
	display:inline-block;
	vertical-align: top;
	/*background-color: red;*/
}

section{
	/*width:70%;
	width:675px;
	border:1px solid white;*/
	width:653px;
	border:1px solid white;
	border-radius:10px;
	padding:5px;
	margin-right:10px;
}

p{
	text-align: left;
}

aside{
	/*width:30%;*/
	width:277px;
	border:1px solid white;
	border-radius:10px;
	padding:5px;
	margin-left:10px;
}

table,th,td{
	border:1px solid azure;
	text-align: center;
	padding:2px 5px;
}

td{
	border-collapse: collapse;
}

.box{
	margin-top: 20px;
	padding:25px;
	background-color: brown;
	width:974px;
	height:250px;
	margin: 0 auto 0 auto;
	border-radius:10px;
	vertical-align: top;
	margin-bottom: 10px;
}

.half1{
	width:436px;
	float:left;
	padding: 20px;
	border:1px solid white;
	border-radius:10px;
}

article{
	width:436px;
	float:right;
	padding: 20px;
	border:1px solid white;
	border-radius:10px;
	padding-bottom: 20px;
}

h2{
	vertical-align: top;
	text-align: center;
}

.dropdown-text {
  position: relative;
  display: inline-block;
}

.text-content {
  /*display: none;*/
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  padding: 0px;
  /*z-index: 1;*/
}

.dropdown-text:hover .text-content {
  /*display: block;*/
  visibility: visible;
}

/*#text{
	visibility: hidden;
	display:none;
}*/
footer{
	margin-bottom: 10px;
}
/*.half1,article{
	display:inline-block;
	/*background-color: red;
}*/
.bg-facebook_logo {
    width: 50px; height: 50px;
    background: url('css_sprites.png') -10px -10px;
}

.bg-gmail {
    width: 50px; height: 50px;
    background: url('css_sprites.png') -80px -10px;
}

.bg-linkedin_logo {
    width: 50px; height: 50px;
    background: url('css_sprites.png') -150px -10px;
}

.bg-twitter_logo_silhouette {
    width: 50px; height: 50px;
    background: url('css_sprites.png') -220px -10px;
}

.bg-instagram_logo {
    width: 50px; height: 50px;
    background: url('css_sprites.png') -290px -10px;
}

.bg-yahoo {
    width: 50px; height: 50px;
    background: url('css_sprites.png') -360px -10px;
}
